<!-- Page Title -->
<div class="products">
  <h2>Product List</h2>

  <!-- Loop through list of products -->
  <div *ngFor="let product of products">
    <!-- Tiltle -->
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
    </h3>

    <!-- Description -->
    <p *ngIf="product.description">Description: {{ product.description }}</p>

    <!-- Share product -->
    <button type="button" (click)="share()">Share</button>

    <!-- -Pass the current product as input to the component using property binding. -->
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()"
    ></app-product-alerts>
  </div>
</div>
